{{>navbar}}
<div class="row ">
    <div class="col-md-6 m-auto">
        <div class="container ">
            <div class="text-center " style="padding-top: 6rem;">
                <h1 class="text-center logintext ">Edit user</h1>
            </div>
            <div style="text-align:center; padding-top: 6rem;">
                <form action="/" method="POST">
                    <div class="form-group ">
                        <input name="name" type="text" class="  editinput text-center" placeholder="Name" required
                            style="font-family: Poppins;">
                    </div>
                    <div class="form-group" style="padding-top: 2rem;">
                        <input name="email" type="email" class=" editinput text-center" placeholder="Email Address"
                            required style="font-family: Poppins;">
                    </div>
                    <div class="form-group " style="padding-top: 2rem;">
                        <input name="password" type="password" class="  editinput text-center" placeholder="Password"
                            required style="font-family: Poppins;">
                    </div>

                    <div style="padding-top: 2rem;">
                        <button type="submit" class="btn float-center edit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>