<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {{!-- <a class="navbar-brand" href="/">Admin Panel</a> --}}

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-1 ml-4 p-1">
                <li class="nav-item ">
                    <a class="nav-link" href="#">All users <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">All Sessions </a>
                </li>

            </ul>
            <div class="dropdown mr-5">

                <a class=" btn btn-danger loginbutton" href="/logout">LOGOUT</a>

            </div>
        </div>
    </nav>
</header>
{{!-- <a href="/" class="btn  back-btn">Back</a> --}}
<section>
    <div class="row">
        <div class="col-md-6 m-auto">

            <div class="container mt-5 pl-5 " style="padding-top: 2rem; padding: 1rem;">

                <h2 class="text-center  " style="font-family: Poppins;">Create a New Session </h2>
                {{#if succes}}
                <div  id="alert" class="alert alert-success" role="alert">
                  {{succes}}
                </div>
                {{/if}}
                 {{#if failed}}
                <div  id="alert" class="alert alert-danger" role="alert">
                  {{failed}}
                </div>
                {{/if}}
                <form action="/home" method="POST" enctype="multipart/form-data">
                    <div style="position: relative; top: 2rem;">

                        <input class="form-control form-control-lg " name="avatar" id="formFileLg" type="file" required>
                    </div>

                    <button type="submit" class="btn btn-info float-center buttontext">Generate</button>


                </form>
            </div>
        </div>
    </div>
    </div>
</section>