<div class="row ">
    <div class="col-md-6 m-auto">

        <div class="container ">
            <div class="text-center " style="padding-top: 6rem;">
                <h1 class="text-center logintext ">Analytica</h1>
            </div>
            <div style="text-align:center; padding-top: 6rem;">
                <form action="/" method="POST">
                    <div class="form-group">



                        <input name="email" type="email" class=" logininput text-center" placeholder="Email Address"
                            required>
                    </div>
                    <div class="form-group " style="padding-top: 2rem;">

                        <input name="password" type="password" class="  logininput text-center" placeholder="Password"
                            required>
                    </div>
                    <div style="padding-top: 2rem;">
                        <button type="submit" class="btn float-center buttontext">LOGIN</button>
                    </div>



                </form>
            </div>
        </div>
    </div>
</div>