<div class="row">
    <div class="col-md-6 m-auto">

        <div class="container mt-5 pl-5 ">
            <h2 class="text-center logintext ">Analytica</h2>
            <form action="/" method="POST">
                <div class="form-group  " style="position: relative; top: 10rem; left: 10rem; ">



                    <input name="email" type="email" class="form-control logininput text-center"
                        placeholder="Email Address">
                </div>
                <div class="form-group " style="position: relative; top: 12rem; left: 10rem;">

                    <input name="password" type="password" class="form-control  logininput text-center"
                        placeholder="Password">
                </div>

                <button type="submit" class="btn float-center buttontext">LOGIN</button>


            </form>
        </div>
    </div>
</div>