<div class="row">
    <div class="col-md-6 m-auto">
        <div class="text-center">
            <h1 class="text-center dashboard mt-4">Dashboard</h1>
        </div>
        <div>
            <a href="/session" class="btn back-btn float-left">Back</a>
        </div>
        <div>
            <a href="" class="btn btn-primary float-right">Download</a>
        </div>
    </div>
</div>
<div class="row pt-5">
    <dit class="col-md-6">
        <canvas id="myChart"></canvas>
    </dit>
    <dit class="col-md-6">
        <canvas id="myChart2"></canvas>
    </dit>
</div>
<div class="row pt-5">
    <dit class="col-md-6">
        <canvas id="myChart3"></canvas>
    </dit>
    <dit class="col-md-6">
        <canvas id="myChart4"></canvas>
    </dit>
</div>
<script>
    let myChart = document.getElementById('myChart').getContext('2d')
    let barchart = new Chart(myChart, {
        type: 'pie',
        data: {
            labels: ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'],
            datasets: [{
                label: 'Color',
                borderColor: 'rgb(255, 99, 132)',
                backgroundColor: ['green', 'red', 'yellow', 'blue', 'black', 'pink', 'orange'],
                data: [20, 10, 5, 2, 20, 30, 45],
            }]
        },
        options: {}
    })
    let myChart2 = document.getElementById('myChart2').getContext('2d')
    let barchart2 = new Chart(myChart2, {
        type: 'line',
        data: {
            labels: ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'],
            datasets: [{
                label: 'Color',
                borderColor: 'rgb(255, 99, 132)',
                backgroundColor: ['green', 'red', 'yellow', 'blue', 'black', 'pink', 'orange'],
                data: [20, 10, 5, 2, 20, 30, 45],
            }]
        },
        options: {}
    })
    let myChart3 = document.getElementById('myChart3').getContext('2d')
    let barchart3 = new Chart(myChart3, {
        type: 'bar',
        data: {
            labels: ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'],
            datasets: [{
                label: 'Color',
                borderColor: 'rgb(255, 99, 132)',
                backgroundColor: ['green', 'red', 'yellow', 'blue', 'black', 'pink', 'orange'],
                data: [20, 10, 5, 2, 20, 30, 45],
            }]
        },
        options: {}
    })
    let myChart4 = document.getElementById('myChart4').getContext('2d')
    let barchart4 = new Chart(myChart4, {
        type: 'doughnut',
        data: {
            labels: ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'],
            datasets: [{
                label: 'Color',
                borderColor: 'rgb(255, 99, 132)',
                backgroundColor: ['green', 'red', 'yellow', 'blue', 'black', 'pink', 'orange'],
                data: [20, 10, 5, 2, 20, 30, 45],
            }]
        },
        options: {}
    })
</script>