<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<style>
 .logininput{
 

background: #FFFFFF;
mix-blend-mode: normal;
border: 4.53px solid rgba(0, 0, 0, 0.1);
box-sizing: border-box;
border-radius: 15.3407px;
 }
 .logintext{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 55.2264px;
line-height: 72px;
 }
 .buttontext{
     font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
position:relative; 
left: 43%;
 top: 4rem;
 }
 .loginbutton{
     font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 20px;

 }
 .actual-button{
     background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
 }
 .back-btn{
     background-color: black;
     color: white;
     font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 23px;
position: relative;
top: 1rem;
left: 3rem;
 }

</style>

<body>

    {{{body}}}

   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

 <script > 
        setTimeout(function () { 
  
            // Closing the alert 
            $('#alert').alert('close'); 
        }, 3000); 
    </script> 
      
</body>

</html>